
<div class="home-pages-details">
 <div fxLayout="row">
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
  <div fxFlex="90" fxFlex.gt-sm="80">
    <h1 class="header__title">Simplaex</h1>
   
    <div id="heroes-list">
      <ng-container >
         Welcome
	  </ng-container>
	  
	  <h2>Basic Prebid.js Example</h2>
	  <h5>Div-1</h5>
	  <div id='div-1'>
		<script type='text/javascript'>
		googletag.cmd.push(function() {
		googletag.display('div-1');
		});
		</script>
	  </div>

    </div>
  </div>
  <div fxFlex="10" fxFlex.gt-sm="20"></div>
</div>

</div>


