<!-- <div class="container-fluid">

    <app-header></app-header>

    <div class="row">
        <div class="col-md-3 col-xs-12 col-lg-3">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-md-8 col-xs-12 col-lg-8">
            <router-outlet *ngIf="isOnline;else isOffline"></router-outlet>
            <ng-template #isOffline>
                <div>
                    <p class="offline-error">{{'offlineMessage' | translate}}&nbsp;&nbsp;&nbsp;
                        <span>:&nbsp;)</span>
                    </p>
                </div>
            </ng-template>
        </div>
    </div>

    <app-footer class="footer"></app-footer>

</div> -->

<div class="container-fluid">
    <router-outlet *ngIf="isOnline;else isOffline"></router-outlet>
    <ng-template #isOffline>
        <div>
            <p class="offline-error">{{'offlineMessage' | translate}}&nbsp;&nbsp;&nbsp;
                <span>:&nbsp;)</span>
            </p>
        </div>
    </ng-template>
</div>